# Ignore all .env files in all subfolders
*.env

# Ignore all .env files in .env folders of 01.Dockers project
/Fomin_Dmytro/01.Docker/.env/*

# Exclude from indexing credentials and secure files
/Fomin_Dmytro/02.Jenkins/jenkins/ssh-key/
/Fomin_Dmytro/02.Jenkins/jenkins/ssl/
/Fomin_Dmytro/02.Jenkins/joomla-webs/.env/
/Fomin_Dmytro/02.Jenkins/ngrok/.env/

# Jenkins CLI file
/Fomin_Dmytro/02.Jenkins/jenkins/jenkins-cli.jar
/Fomin_Dmytro/03.Kubernetes/local-cluster/jenkins/jenkins-cli.jar

# minikube Debian packet
# minikube_latest_amd64.deb

# Ignore files in "04.Terraform" directory of project

# temporary *-output files
/Fomin_Dmytro/04.Terraform/aws-eks-cluster/*-output

# Local .terraform directories
**/.terraform/*

# .terraform.lock.hcl files
*.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json
